body,html{
	height: 100%;
	width: 100%;
	/*align-content: center;*/
	text-align: center;
	background-color: gray;
}
.formcontainer	{
	position: absolute;
	left: 20%;
	top:10%;

	border: 1px solid black;
	width: 30%;
	height: 64%;
	/*padding: 5%;*/
	text-align: center;
	margin: 5%;
	margin-bottom: 3px;
	box-shadow: -8px 8px 6px 6px #ccc;
	background-color: white;
}
p {
	font-size: 12px;
	color: red;
}
form{
}

.reset	{
	/*border: 1px solid black;*/
	float: right;
}
.name, .email, .skill, .salary {
	padding: 30px;
}
.add	{
	height: 40px;
}

#addicon	{
	float:right;
	font-size: 30px;
	margin-bottom: 10px;
	padding: 10px;
	color: #ccc;
	/*fill:#ccc ;*/
}

input	{
	width: 160px;
}